html,
body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.navbar {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    height: 175px;
    background-color: #ff907d;
}

.navBlock {
    width: 32vw;
    height: 175px;
}

.navBlock.separator {
    width: 2vw;
    height: 100%;
}

.sepline {
    margin: 12px auto;
    width: 1px;
    height: 150px;
    background-color: #9f5f8088;
}

.content {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.table-container {
    margin: 0 auto;
    padding-top: 200px;
    background-color: #FEF9EF;
}

#table {
    border: 1px solid #00000050;
}

.row {
    display: flex;
}

.cell {
    margin: 0;
    width: 0;
    height: 0;
}

.cell.empty {
    border: 1px solid #00000050;
    background-color: #FEF9EF;
}

.cell.wall {
    background-color: #9F5F80;
}

.cell.path {
    background-color: #FEE440;
}

.cell.variant {
    background-color: #A2D2FF;
}